:root {
    /* Colors Primary */
    --clr-primary-cta-text: hsl(356, 100%, 66%);
    --clr-primary-cta-bg: hsl(355, 100%, 74%);
    --clr-primary-headings: hsl(208, 49%, 24%);
    /* Colors Neutral */
    --clr-neutral-text: hsl(0, 0%, 100%);
    --clr-neutral-footer-text: hsl(240, 2%, 79%);
    --clr-neutral-body-copy: hsl(207, 13%, 34%);
    --clr-neutral-footer-bg: hsl(240, 10%, 16%);
    /* Background gradient - Intro/CTA mobile nav: */
    --bg-gradient-intro-very-light-red: hsl(13, 100%, 72%);
    --bg-gradient-intro-light-red: hsl(353, 100%, 62%);
    /* Background gradient - body: */
    --bg-gradient-body-gray-blue: hsl(237, 17%, 21%);
    --bg-gradient-body-desaturated-blue: hsl(237, 23%, 32%);
    /* Font overpass */
    --ff-overpass: "Overpass", sans-serif;
    --fw-overpass-light: 300;
    --fw-overpass-semibold: 600;
    /* Font ubuntu */
    --ff-ubuntu: "Ubuntu", sans-serif;
    --fw-ubuntu-regular: 400;
    --fw-ubuntu-medium: 500;
    --fw-ubuntu-retular: 700;

    /* Media queries */
    --mobile-width: 375px;
    --desktop-width: 1440px;
}

details {
    position: relative;
    border-radius: 6px;
    transition: background-color 0.15s;
    max-width: 10rem;
}

details > :last-child {
    margin-bottom: 1rem;
}

details::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.15;
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: -1;
}

details[open] {
    background-color: #fff;
}

details[open]::before {
    opacity: 0.6;
}

summary {
    display: block;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

summary::after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    transition: transform 0.2s ease-in-out;
    transform: translateY(-50%);
    transform-origin: center;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
summary::after {
    transform: rotate(45deg);
}
[open] summary::after {
    transform: rotate(-135deg);
}
summary::-webkit-details-marker {
    display: none;
}

header {
    min-height: 100vh;
    position: relative;
    z-index: 0;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../images/bg-pattern-intro-mobile.svg),
        linear-gradient(
            166deg,
            var(--bg-gradient-intro-very-light-red) 0%,
            var(--bg-gradient-intro-light-red) 100%
        );

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-bottom-left-radius: 10rem;
    z-index: -1;
}
