section {
    min-height: 100vh;
}

.section_middle {
    min-height: 50vh;
    position: relative;
    z-index: 0;
}

.section_middle::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../images/bg-pattern-circles.svg),
        linear-gradient(
            166deg,
            var(--bg-gradient-body-gray-blue) 0%,
            var(--bg-gradient-body-desaturated-blue) 100%
        );

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-bottom-left-radius: 10rem;
    border-top-right-radius: 10rem;
    z-index: -1;
}
