:root {
    /* Colors Primary */
    --clr-primary-cta-text: hsl(356, 100%, 66%);
    --clr-primary-cta-bg: hsl(355, 100%, 74%);
    --clr-primary-headings: hsl(208, 49%, 24%);
    /* Colors Neutral */
    --clr-neutral-text: hsl(0, 0%, 100%);
    --clr-neutral-footer-text: hsl(240, 2%, 79%);
    --clr-neutral-body-copy: hsl(207, 13%, 34%);
    --clr-neutral-footer-bg: hsl(240, 10%, 16%);
    /* Background gradient - Intro/CTA mobile nav: */
    --bg-gradient-intro-very-light-red: hsl(13, 100%, 72%);
    --bg-gradiet-intro-light-red: hsl(353, 100%, 62%);
    /* Background gradient - body: */
    --bg-gradient-body-gray-blue: hsl(237, 17%, 21%);
    --bg-gradient-body-desaturated-blue: hsl(237, 23%, 32%);
    /* Font overpass */
    --ff-overpass: "Overpass", sans-serif;
    --fw-overpass-light: 300;
    --fw-overpass-semibold: 600;
    /* Font ubuntu */
    --ff-ubuntu: "Ubuntu", sans-serif;
    --fw-ubuntu-regular: 400;
    --fw-ubuntu-medium: 500;
    --fw-ubuntu-retular: 700;

    /* Media queries */
    --mobile-width: 375px;
    --desktop-width: 1440px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--ff-overpass);
    text-align: center;
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

@media screen and (min-width: 48rem) {
    body {
        text-align: unset;
    }
}
